<div class="min-h-screen flex items-center justify-center bg-[oklch(95.3%_0.051_180.801)] py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-8">
    <div>
      <h2 class="mt-6 text-center text-4xl text-gray-500">
      パスワードリセット
      </h2>
    </div>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email, class: "block text-base text-xl text-gray-500 mb-2" %><br />
        <%= f.email_field :email, class: "border-4 border-orange-400/50 appearance-none rounded-md relative block w-full px-4 py-3 border border-gray-300 text-base", autofocus: true, autocomplete: "email" %>
      </div>

  
      <div class="actions flex justify-center">
        <button class="inline-flex items-center justify-center px-6 py-3 font-medium text-white bg-gradient-to-r from-orange-500 to-orange-600 rounded-full hover:from-orange-600 hover:to-orange-700 shadow-sm hover:shadow-md lg:px-6 lg:py-3 lg:w-auto transition-all duration-200 mt-6"
            style="...">
        送信
        </button>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>