<header class="fixed top-0 left-0 right-0 bg-white shadow-md z-50">
  <nav class="container mx-auto px-6 py-4 flex items-center justify-between">
    <!-- ロゴ -->
    <%= link_to root_path, class: "text-xl font-bold text-gray-800" do %>
      つむぎマルシェ
    <% end %>
    <!-- メニュー項目 -->
    <div class="hidden lg:flex items-center  space-x-4" data-controller="mobile-menu" data-mobile-menu-target="menu">
      <%= link_to marches_path, class: "text-gray-600 hover:text-gray-800 px-4 py-2" do %>
      <svg class="h-8 w-8 text-green-500" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" 
      fill="none" stroke-linecap="round" stroke-linejoin="round">  
      <path stroke="none" d="M0 0h24v24H0z"/>  
      <circle cx="10" cy="10" r="7" />  
      <line x1="21" y1="21" x2="15" y2="15" />
      </svg>
      <% end %>
      <%= link_to root_path, class: "text-gray-600 hover:text-gray-800 px-4 py-2" do %>
      <svg class="h-8 w-8 text-green-500"  width="24" height="24" viewBox="0 0 24 24" 
      stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  
      <path stroke="none" d="M0 0h24v24H0z"/>  
      <polyline points="5 12 3 12 12 3 21 12 19 12" />  
      <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" />  
      <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" />
      </svg>
      <% end %>

    <% if user_signed_in? %>
     <!-- マイアカウントメニュー -->
      <%= render 'shared/dropdown_menu', 
        trigger_icon: '<svg class="h-8 w-8 text-green-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"/>
        </svg>',
        trigger_id: 'account',
      menu_items: [
        { text: 'ユーザー情報', path: '#' },
        { text: 'お気に入り', path: '#' }
      ] %>

      <%= render 'shared/dropdown_menu', 
        trigger_text: '掲示板',
        trigger_id: 'board',
      menu_items: [
        { text: '掲示板一覧', path: posts_path },
        { text: '掲示板作成', path: new_post_path }
      ] %>

      <%= render 'shared/dropdown_menu', 
        trigger_text: 'マルシェ',
        trigger_id: 'marche',
      menu_items: [
        { text: 'マルシェ一覧', path: marches_path },
        { text: 'マルシェ作成', path: new_marche_path }
      ] %>

      <%= link_to "ログアウト", logout_path, data: { "turbo-method": :delete }, class: "text-gray-600 hover:text-gray-800 px-4 py-2"
      %>
    <% else %>
      <%= link_to "ログイン", new_user_session_path, class: "text-gray-600 hover:text-gray-800 px-4 py-2" %>
      <%= link_to "新規登録",  new_user_registration_path, class: "text-gray-600 hover:text-gray-800 px-4 py-2" %>
    <% end %>
    </div>
  </nav>
</header>