<div class="container mx-auto pt-12">
  <h1 class="text-2xl font-bold mb-6">投稿詳細</h1>
  <article class="bg-white rounded-lg shadow-md">
    <div class="p-6">
      <div class="md:flex md:space-x-6">
        <div class="md:w-1/4">
          <!-- 画像部分 -->
          <% if @post.images.present? %>
            <% @post.images.each do |image| %>
              <%= image_tag image.url, class: "w-full h-48 object-cover rounded-lg" %>
            <% end %>
          <% end %>
        </div>
        <div class="md:w-3/4">
          <!-- タイトルと本文部分 -->
          <h3 class="text-xl font-semibold mb-4"><%= @post.title %></h3>
          <p class="text-gray-700"><%= simple_format(@post.body) %></p>
        </div>
        <div class="md:w-3/4">
          <% if @post.youtube_video_id.present? %>
            <iframe width="450" height="315"
              src="https://www.youtube.com/embed/<%= @post.youtube_video_id %>"
              frameborder="0" allowfullscreen>
            </iframe>
          <% end %>
        </div>
      </div>
      
      <!-- 編集・削除ボタン -->
      <div class="flex justify-end mt-6 space-x-3">
        <%= link_to "一覧に戻る", posts_path, class: "inline-flex items-center px-4 py-2 border border-blue-300 shadow-sm text-sm font-medium rounded-md text-blue-700 bg-white hover:bg-blue-100 focus:outline-none focus:ring-2 focus:ring-blue-500 transition-colors duration-200"%>
        <%= link_to "編集", edit_post_path(@post), 
        id: "button-edit-#{@post.id}",
        class: "inline-flex items-center px-4 py-2 border border-orange-300 shadow-sm text-sm font-medium rounded-md text-orange-700 bg-white hover:bg-orange-100 focus:outline-none focus:ring-2 focus:ring-orange-600 transition-colors duration-200" %>
  
        <%= link_to "削除", post_path(@post), 
        id: "button-delete-#{@post.id}",
        data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" },
        class: "inline-flex items-center px-4 py-2 border border-red-300 shadow-sm text-sm font-medium rounded-md text-red-900 bg-white hover:bg-red-100 focus:outline-none focus:ring-2 focus:ring-red-600 transition-colors duration-200" %>
        <% if current_user.liked?(@post) %>
          <%= button_to post_likes_path(@post), method: :delete, class: "text-2xl text-red-500" do %>
          <i class="fas fa-heart"></i>
          <% end %>
        <% else %>
          <%= button_to post_likes_path(@post), method: :post, class: "text-2xl text-gray-500" do %>
          <i class="far fa-heart"></i>
          <%= @post.likes.count %> 
          <% end %>
        <% end %>
     </div>
    </div>
  </article>
</div>