<div class="container mx-auto pt-12">
  <h1 class="text-2xl font-bold mb-6">投稿詳細</h1>
  <article class="bg-white rounded-lg shadow-md">
    <div class="p-6">
      <div class="md:flex md:space-x-6">
        <div class="md:w-1/4">
          <!-- 画像部分 -->
          <% if @post.images.present? %>
            <% @post.images.each do |image| %>
              <%= image_tag image.url, class: "w-full h-48 object-cover rounded-lg" %>
            <% end %>
          <% end %>
        </div>
        <div class="md:w-3/4">
          <!-- タイトルと本文部分 -->
          <h3 class="text-xl font-semibold mb-4"><%= @post.title %></h3>
          <p class="text-gray-700"><%= simple_format(@post.body) %></p>
        </div>
      </div>
      
      <!-- 編集・削除ボタン -->
      <div class="flex justify-end mt-6 space-x-3">
        <%= link_to "一覧に戻る", posts_path, class: "inline-flex items-center px-4 py-2 border border-blue-300 shadow-sm text-sm font-medium rounded-md text-blue-700 bg-white hover:bg-blue-50 focus:outline-none focus:ring-2 focus:ring-blue-500 transition-colors duration-200"%>
        <%= link_to "編集", edit_post_path(@post), 
        id: "button-edit-#{@post.id}",
        class: "inline-flex items-center px-4 py-2 border border-blue-300 shadow-sm text-sm font-medium rounded-md text-blue-700 bg-white hover:bg-blue-50 focus:outline-none focus:ring-2 focus:ring-blue-500 transition-colors duration-200" %>
  
        <%= link_to "削除", post_path(@post), 
        id: "button-delete-#{@post.id}",
        data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" },
        class: "inline-flex items-center px-4 py-2 border border-red-300 shadow-sm text-sm font-medium rounded-md text-red-700 bg-white hover:bg-red-50 focus:outline-none focus:ring-2 focus:ring-red-500 transition-colors duration-200" %>
     </div>
    </div>
  </article>
</div>