<div class="max-w-4xl mx-auto bg-white rounded-lg shadow-md p-6 mt-24">

  <% if current_user.errors.any? %>
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded mb-4">
      <h3 class="font-bold">エラーが発生しました：</h3>
      <ul class="list-disc list-inside">
        <% current_user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form_with model: current_user, url: mypage_path, local: true, multipart: true, method: :patch do |form| %>
    
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2">
        画像
      </label>
      <%= form.file_field :image, 
       class: "w-full px-32 py-24 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 resize-none",
       accept: 'image/*' %>
    </div>

    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2">
        ユーザーネーム
      </label>
      <%= form.text_field :username, class: "w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" %>
    </div>

    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2">
        住所（都道府県）
      </label>
      <%= form.text_field :hometown, class: "w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 resize-none" %>
    </div>

    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2">
        性別
      </label>
      <%= form.select :gender, ['男性', '女性', 'その他'], {}, { class: "w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" } %>
    </div>

    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2">
        年齢
      </label>
      <%= form.select :age, (10..100), {}, { class: "w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" } %>
    </div>

    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2">
        インスタグラム
      </label>
      <%= form.text_field :instagram, class: "w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" %>
    </div>

    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2">
        ショップ名（出展者のみ）
      </label>
      <%= form.text_field :shop_name, class: "w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" %>
    </div>

    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2">
        商品内容（出展者のみ）
      </label>
      <%= form.text_field :products, class: "w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" %>
    </div>

    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2">
        出店回数（何回目）（出展者のみ）
      </label>
      <%= form.select :experience, ['初回', '2～5回', '6回以上'], {}, { class: "w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" } %>
    </div>

    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2">
        連絡先（出展者のみ）
      </label>
      <%= form.text_field :contact_info, class: "w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" %>
    </div>

    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2">
        自己PR（出展者のみ）
      </label>
      <%= form.text_field :self_pr, class: "w-full px-14 py-8 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" %>
    </div>


  <div class="mb-4">
    <%= form.submit "更新する", class: "inline-flex items-center justify-center px-6 py-3 font-medium text-white bg-gradient-to-r from-orange-500 to-orange-600 rounded-full hover:from-orange-600 hover:to-orange-700 shadow-sm hover:shadow-md lg:px-4 lg:py-2 lg:w-auto transition-all duration-200" %>
  </div>
  <% end %>
</div>
